<div class="notes" fxLayout="{{rowCol}}" fxLayoutGap="20px">
  <!-- <mat-card *ngFor="let item of data">
    <div>
      {{item.title}}
    </div>
    <div>
      {{item.note}}
    </div>
  </mat-card> -->
  <mat-card *ngFor="let item of data">
    <div>
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content> {{item.note}} </mat-card-content>
    <!-- <mat-card-actions align="start">
          <button mat-button (click)="onAction1">Action1</button>
      </mat-card-actions> -->
    <mat-card-footer>
      <div class="notesIcons">
        <button class="reminderIcon" mat-icon-button matTooltip="Remind me">
          <mat-icon>notifications_active</mat-icon>
        </button>
        <button class="collaboratorIcon" mat-icon-button matTooltip="Collaborator">
          <mat-icon>person_add</mat-icon>
        </button>
        <button class="changeColorIcon" mat-icon-button matTooltip="Change color">
          <mat-icon>color_lens</mat-icon>
        </button>
        <button class="archiveIcon" mat-icon-button matTooltip="Archive">
          <mat-icon>archive</mat-icon>
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>