// .notesDiv {
//     display: flex;
// }
// .notesIcons {
//     margin-left: 5px;
//     padding: 5px;
// }
.matCard {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px; // padding-bottom: 50px;
}

.reminderIcon,
.collaboratorIcon,
.changeColorIcon,
.archiveIcon,
.moreIcon,
.deleteIcon {
    color: rgba(0, 0, 0, 0.8); // font-size: 10px !important;
    width: 40px !important;
}

/deep/ .mat-icon-button .mat-icon {
    font-size: 20px !important;
    
}

.notes {
    margin-left: 100px;
    max-width: 800px;
    flex-wrap: wrap;
}

.matCardFooter {
    padding: none;
    margin: none;
}

// .notesIcons {
//     display: none;
// }
// .notes:hover .notesIcons {
//     display: block;
// }
/deep/ .mat-icon-button .mat-icon {
    font-size: 20px;
}