    <div class="list-viewer-wrapper">
      <div class="list-header-title">Register</div>
  
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field>
            <input id="firstName"
                   matInput
                   formControlName="firstName"
                   [(ngModel)]="user.firstName"
                   placeholder="Enter your First Name" 
                   autocomplete="off"/>
          </mat-form-field>
          
          <mat-form-field>
            <input id="lastName"
                   matInput
                   formControlName="lastName"
                   [(ngModel)]="user.lastName"
                   placeholder="Enter your Name" 
                   autocomplete="off"/>
          </mat-form-field>

          <mat-form-field>
              <input id="email"
                     matInput
                     formControlName="email"
                     [(ngModel)]="user.email"
                     placeholder="Enter your email" 
                     autocomplete="off"/>
            </mat-form-field>
  
          <mat-form-field>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input id="confirmPassword"
                     matInput
                     formControlName="confirmPassword"
                     [(ngModel)]="user.confirmPassword"
                     placeholder="Re-Enter password"
                     type="password" />
            </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!registerForm.valid">Register</button>
            <button mat-button routerLink="/login" class="divider">Login</button>
        </div>
      </form>
    </div>