<div [class]=item>
  <mat-card [ngStyle]="{'background-color': item.color}">
    <div class="noteCard">
      <div class="matCardTitleContent" (click)="editCard()">
        <mat-card-header>
          <mat-card-title class="matCardTitle">{{item.title}}</mat-card-title>
          <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="changePin(item)">
            <svg-icon [src]="pinIconSrc"> </svg-icon>
          </button>
        </mat-card-header>
        <mat-card-content class="matCardContent"> {{item.note}}
        </mat-card-content>
      </div>
      <mat-card-footer class="matCardFooter">
        <div class="notesIcons">
          <button class="reminderIcon" mat-icon-button matTooltip="Remind me" (click)="toggleReminderMenu()" (click)="toggleShowReminder()">
            <mat-icon>notifications_active</mat-icon>
          </button>
          <div class="reminderMenu" *ngIf="!reminderMenuBool && showReminderMenu && item">
            <div>Reminder:</div>
            <button mat-menu-item>
              Later Today
              <span class="timings">20:00</span>
            </button>
            <button mat-menu-item>
              Tommorow
              <span class="timings">08:00</span>
            </button>
            <button mat-menu-item>
              Next Week
              <span class="timings">{{nextWeekDay}}, 08:00</span>
            </button>
            <button mat-menu-item (click)="toggleReminderMenu()">
              <mat-icon>access_time</mat-icon>
              Pick date & time
            </button>
          </div>

          <div class="dateMenu" *ngIf="reminderMenuBool && showReminderMenu">
            <button mat-icon-button (click)="toggleReminderMenu()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div>Pick Date & Time:</div>
            <mat-form-field>

              <input matInput id="dateInput" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <mat-form-field>
                <input matInput id="timeInput" atp-time-picker placeholder="Choose a time" />
              </mat-form-field>
            </div>
            <div>
              <button mat-button (click)="setReminder(dateInput,timeInput)">Action</button>
            </div>
          </div>

          <button class="collaboratorIcon" mat-icon-button matTooltip="Collaborator">
            <mat-icon>person_add</mat-icon>
          </button>
          <button class="changeColorIcon" mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu"
            [matMenuTriggerData]="{item:item}">
            <mat-icon>color_lens</mat-icon>
          </button>
          <button class="archiveIcon" mat-icon-button matTooltip="Archive" (click)="archiveNote(item)">
            <mat-icon>archive</mat-icon>
          </button>
          <button class="moreIcon" mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreNotesMenu"
            [matMenuTriggerData]="{item:item}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </div>
  </mat-card>

  <!-- <mat-card  [ngClass]="{'matCardGrid': rowCol=='row',
    'matCardList': rowCol=='column'}"
    [ngStyle]="{'background-color': item.color}">
    <div class="noteCard">
      <div>
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
          <button class="pinIcon" mat-icon-button matTooltip="Pin" (click)="pinNote(item)">
            <svg-icon src="../../assets/Icons/unpinIcon.svg"> </svg-icon>
          </button>
        </mat-card-header>
        <mat-card-content> {{item.note}} </mat-card-content>
      </div>
      <mat-card-footer class="matCardFooter">
        <div class="notesIcons">
          <button class="reminderIcon" mat-icon-button matTooltip="Remind me" (click)="toggleReminderMenu()" (click)="toggleShowReminder()">
            <mat-icon>notifications_active</mat-icon>
          </button>

          <div class="reminderMenu" *ngIf="!reminderMenuBool && showReminderMenu && item">
            <div>Reminder:</div>
            <button mat-menu-item>
              Later Today
              <span class="timings">20:00</span>
            </button>
            <button mat-menu-item>
              Tommorow
              <span class="timings">08:00</span>
            </button>
            <button mat-menu-item>
              Next Week
              <span class="timings">{{nextWeekDay}}, 08:00</span>
            </button>
            <button mat-menu-item (click)="toggleReminderMenu()">
              <mat-icon>access_time</mat-icon>
              Pick date & time
            </button>
          </div>

          <div class="dateMenu" *ngIf="reminderMenuBool && showReminderMenu">
            <button mat-icon-button (click)="toggleReminderMenu()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div>Pick Date & Time:</div>
            <mat-form-field>

              <input matInput id="dateInput" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <mat-form-field>
                <input matInput id="timeInput" atp-time-picker placeholder="Choose a time" />
              </mat-form-field>
            </div>
            <div>
              <button mat-button (click)="setReminder(dateInput,timeInput)">Action</button>
            </div>
          </div>

          <button class="collaboratorIcon" mat-icon-button matTooltip="Collaborator">
            <mat-icon>person_add</mat-icon>
          </button>
          <button class="changeColorIcon" mat-icon-button matTooltip="Change color" #colorMenuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="colorMenu" [matMenuTriggerData]="{item:item}">
            <mat-icon>color_lens</mat-icon>
          </button>
          <button class="archiveIcon" mat-icon-button matTooltip="Archive" (click)="archiveNote(item)">
            <mat-icon>archive</mat-icon>
          </button>
          <button class="deleteIcon" mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreNotesMenu"
            [matMenuTriggerData]="{item:item}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </div>
  </mat-card> -->

</div>

<mat-menu #colorMenu="matMenu" class="colorMenu">
  <ng-template matMenuContent let-item="item">
    <div *ngFor="let color of colorCode">
      <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode,item)">
        <mat-icon class="colorIcons">fiber_manual_record</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #moreNotesMenu="matMenu" class="moreNotesMenu">

  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="deleteNote(item)">
      Delete note
    </button>
    <button mat-menu-item>
      Add label
    </button>
  </ng-template>
</mat-menu>