<!-- <div class="list-viewer-wrapper">
  <div class="list-header-title">Reset Password</div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && onResetPassword()" novalidate>
    <div class="form-container">

        <mat-form-field>
          <input id="password"
                 matInput
                 formControlName="password"
                 [(ngModel)]="user.password"
                 placeholder="Enter new password"
                 autocomplete="off"/>
        </mat-form-field>

        <mat-form-field>
          <input id="confirmPassword"
                 matInput
                 formControlName="confirmPassword"
                 [(ngModel)]="user.confirmPassword"
                 placeholder="Confirm new Password"
                 autocomplete="off"/>
                 <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
                  Passwords do not match
                 </mat-error>
        </mat-form-field>

        <button mat-button type="submit"
                class="mat-raised-button mat-primary" 
                [disabled]="!forgotPasswordForm.valid">Send Verification e-mail</button>
        <button mat-button routerLink="/login" class="divider">Login</button>
    </div>
  </form>
</div> -->