<mat-toolbar class="matToolbar">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="fundooNotes" src="../../assets/Icons/keep_48dp.png" (click)="sidenav.toggle()" matTooltip="Home"> Fundoo Notes

  <button class="searchIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Search">
    <mat-icon>search</mat-icon>
  </button>

  <input class="searchBar" placeholder="Search" autocomplete="off" />

  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Grid/List View">
    <mat-icon>view_agenda</mat-icon>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button>

  <button class="account" mat-icon-button (click)="sidenav.toggle()" matTooltip="Your Account">
    <mat-icon>account_circle</mat-icon>
  </button>


  <mat-sidenav-container class="sidenavBar">
    <mat-sidenav #sidenav mode="side" closed class="sidenavBarContents">
      Sidenav content
    </mat-sidenav>
  </mat-sidenav-container>
</mat-toolbar>