@import "~@angular/material/prebuilt-themes/purple-green.css";

.matToolbar {
    background: #6b6a60;
}

.searchIcon {
    margin-left: 40px;
}

.searchBar {
    width: 1000px;
    padding: 14px;
    margin-right: 20px;
    border-radius: 7px;
    border-style: hidden;
    font-size: 18px;
}

.fundooNotes {
    margin:10px;
}

.account {
    margin-left:40px;
}