@import "~@angular/material/prebuilt-themes/purple-green.css";

.matToolbar {
    text-emphasis-color: inherit;
    text-decoration-color: black;
    background: #ffffff;
    margin: 0 0;
    padding: 0px;
}

.sidenavBar {
    position: absolute;
    min-width: 300px;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
}

.sideNavList {
    width: 300px;
    height: 98.6%;
    background-color: #ffffff;
}

.sideNavListItems {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 300px;
    font-size: 18px;
    padding: 35px;
    color: rgba(37, 37, 37, 0.8);
}

.labelTitle {
    color: black;
    margin-left: 20px;
    font-size: 14px;
    border-top: 20px black;
}

.sideNavListItems:hover {
    background-color: #e0e0e0;    
}

.menuIcon,
.searchIcon,
.refreshIcon,
.viewIcon,
.settingsIcon,
.accountIcon,
.logoutIcon,
.fundooNotesText {
    color: rgba(110, 110, 110, 0.8);
    border-color : transparent!important;
}

.searchIcon {
    margin-left: 40px;
    margin-right: 2px;
    background-color: rgb(243, 243, 243);
}

.searchBar {
    width: 1000px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 7px;
    border-style: hidden;
    font-size: 18px;
    background-color: rgb(243, 243, 243);
}

.fundooNotes {
    margin-left:10px;
    margin-right:10px;
}

.accountIcon{
    margin-left:30px;
}

.accountMenu {
    background-color: #909090;
}