<mat-toolbar class="matToolbar">
  <button mat-icon-button class="menuIcon" (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img *ngIf="headerName=='Fundoo Notes'" class="fundooNotes" src="../../assets/Icons/keep_48dp.png" (click)="sidenav.toggle()"
    matTooltip="Home">
  <span class="fundooNotesText">{{headerName}}</span>
  <button class="searchIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Search">
    <mat-icon>search</mat-icon>
  </button>

  <input class="searchBar" placeholder="Search" autocomplete="off" />

  <!-- <button class="refreshIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </button> -->

  <button class="viewIcon" mat-icon-button matTooltip="{{view}}">
    <mat-icon (click)="toggleGridListIcon()">{{icon}}</mat-icon>
  </button>

  <!-- <button class="settingsIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button> -->

  <button class="accountIcon" [matMenuTriggerFor]="accountMenu" [matMenuTriggerData]="{accountImage:accountImage}"
    matTooltip="Your Account">{{accountImage}}</button>
</mat-toolbar>

<mat-sidenav-container class="sidenavBar">
  <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
    <mat-nav-list class="sideNavList">
      <div>
        <button mat-button [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
          <mat-icon>lightbulb_outline</mat-icon> Notes
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['reminders']" (click)="headerName='Reminders'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
          <mat-icon>notifications_none</mat-icon> Reminders
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button>
          <mat-icon>edit</mat-icon> Edit Labels
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['archive']" (click)="headerName='Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
          <mat-icon>archive</mat-icon> Archive
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['trash']" (click)="headerName='Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
          <mat-icon>delete</mat-icon> Trash
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
    <router-outlet></router-outlet>
    <!--     
    <router-outlet name="addNote"></router-outlet>
    <router-outlet name="reminders"></router-outlet>
    <router-outlet name="archive"></router-outlet>
    <router-outlet name="trash"></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #accountMenu="matMenu" class="accountMenuMain">
  <ng-template matMenuContent let-accountImage="accountImage">
    <div class="accountMenu">
      <button class="accountMenuImage" matTooltip="Change Image">{{accountImage}}
        <!-- <span class="accountMenuImageChange">Change</span> -->
      </button>
      <!-- <img [src]="url"> -->
      <!-- <input type='file' (change)="onSelectFile($event)"> -->
      <div class="accountMenuItems">
        <div class="accountMenuName"> {{name}} </div>
        <div class="accountMenuEmail"> {{email}} </div>
        <button mat-button class="logoutIcon" (click)="logout()" matTooltip="Logout">
          <mat-icon>power_settings_new</mat-icon> Logout
        </button>
      </div>

    </div>
  </ng-template>
</mat-menu>