<mat-toolbar class="matToolbar">
  <button mat-icon-button class="menuIcon" (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="fundooNotes" src="../../assets/Icons/keep_48dp.png" (click)="sidenav.toggle()" matTooltip="Home">
  <span class="fundooNotesText">Fundoo Notes</span>

  <button class="searchIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Search">
    <mat-icon>search</mat-icon>
  </button>

  <input class="searchBar" placeholder="Search" autocomplete="off" />

  <!-- <button class="refreshIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </button> -->

  <button class="viewIcon" mat-icon-button matTooltip="{{view}}">
    <mat-icon (click)="toggleGridListIcon()">{{icon}}</mat-icon>
  </button>

  <!-- <button class="settingsIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button> -->

  <button class="accountIcon" mat-icon-button [matMenuTriggerFor]="accountMenu" matTooltip="Your Account">
    <mat-icon>account_circle_outline</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenavBar">
  <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
    <mat-nav-list class="sideNavList">
      <div>
        <button class="sideNavListItems" mat-button [routerLink]="['addNote']">
          <mat-icon>lightbulb_outline</mat-icon> Notes
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button [routerLink]="['reminders']">
          <mat-icon>notifications_none</mat-icon> Reminders
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button>
          <mat-icon>edit</mat-icon> Edit Labels
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button [routerLink]="['archive']">
          <mat-icon>archive</mat-icon> Archive
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button [routerLink]="['trash']">
          <mat-icon>delete</mat-icon> Trash
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
    <router-outlet></router-outlet>
<!--     
    <router-outlet name="addNote"></router-outlet>
    <router-outlet name="reminders"></router-outlet>
    <router-outlet name="archive"></router-outlet>
    <router-outlet name="trash"></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="accountMenu">
  <mat-menu #accountMenu="matMenu" class="accountMenu">
    <button mat-menu-item class="accountMenu"> {{name}} </button>
    <button mat-menu-item class="accountMenu"> {{email}} </button>
    <button mat-menu-item class="logoutIcon" (click)="logout()" matTooltip="Logout">
      <mat-icon>power_settings_new</mat-icon> Logout
    </button>
  </mat-menu>
</div>