@import "@angular/material/prebuilt-themes/indigo-pink.css";
.matToolbar {
    text-emphasis-color: inherit;
    text-decoration-color: black;
    background: #ffffff;
    margin: 0 0;
    padding: 0px;
}

.dashboardHeader {
    min-width: 200px;
}

.fundooNotesText {
    // position: absolute;
}

.sidenavBar {
    position: absolute;
    min-width: 300px;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
}

.sideNavList {
    width: 300px;
    height: 98.6%;
    background-color: #ffffff;
}

.sideNavListItems,
.sideNavlistItemsColored {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 300px;
    font-size: 15px;
    padding: 8px;
    background-color: #ffffff;
    color: #5f6368;
    align-items: baseline;
    text-align: left;
}

.sideNavlistItemsColored {
    background-color: #f8e6af !important;
    color: rgba(0, 0, 0, 0.8);
}

.sideNavListItems .mat-icon,
.sideNavlistItemsColored .mat-icon {
    padding-left: 10px;
    padding-right: 30px;
}

.sideNavListItems:hover {
    background-color: #e6e6e6;
}

.sidenavContent {
    background-color: rgb(255, 255, 255); // max-width: 600px;
    max-width: -webkit-fill-available;
    margin-left: 200px;
}

.labelTitle {
    color: black;
    margin-left: 20px;
    font-size: 14px;
    border-top: 20px black;
}

.menuIcon,
.searchIcon,
.refreshIcon,
.viewIcon,
.settingsIcon,
.logoutIcon,
.fundooNotesText {
    color: #5f6368;
    border-color: transparent !important;
}

.menuIcon:hover,
.searchIcon:hover,
.refreshIcon:hover,
.viewIcon:hover,
.settingsIcon:hover,
.logoutIcon:hover,
.fundooNotesText:hover {
    color: rgba(0, 0, 0, 0.8);
}

.searchIcon {
    margin-left: 40px;
    margin-right: 2px;
    background-color: rgb(243, 243, 243);
}

.searchBar {
    width: 1000px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 7px;
    border-style: hidden;
    font-size: 18px;
    background-color: rgb(243, 243, 243);
}

.fundooNotes {
    margin-left: 10px;
    margin-right: 10px;
}

.accountIcon {
    margin-left: 30px;
    margin-right: 10px;
}

.accountIcon {
    border: 1px solid #b1b1b1;
    /* box-shadow: none; */
    height: 30px;
    width: 33px;
    border-radius: 16px;
    font-size: inherit;
    color: white;
    background-color: #1494dede;
}

// /deep/ .mat-menu-panel .ng-trigger .ng-trigger-transformMenu .ng-tns-c8-1 .accountMenuMain .mat-menu-below .ng-star-inserted \ .mat-elevation-z4 .mat-menu-before {
//     min-width: 300px !important;
//     //     justify-content: space-around;
// }
/deep/ .mat-menu-panel {
    max-width: unset !important;
    min-width: 340px !important;
    justify-content: space-around;
}

.accountMenuMain {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
}

.accountMenuImage {
    height: 96px;
    width: 96px;
    border: 1px solid;
    border-radius: 50px;
    font-size: 50px;
    color: white;
    background-color: #1494dede;
    margin: 10px;
}

// .accountMenuImageChange {
//     font-size: 12px;
// }
.accountMenuItems {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.accountMenuName {
    font-weight: bold;
    margin: 2px;
}

.accountMenuEmail {
    color: #626262;
    margin: 2px;
}

.logoutIcon {
    margin-top: auto;
    border: 1px solid rgb(202, 202, 202) !important;
}

/deep/ .mat-menu-content div {
    display: flex; // flex-wrap: wrap;
    // max-width: 160px;
}

/deep/ .mat-menu-panel {
    // min-width: 112px;
    // max-width: 280px;
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
    // max-height: calc(100vh - 48px);
    // border-radius: 4px;
    // outline: 0;
    background-color: white;
}