<mat-toolbar class="matToolbar">
  <!-- <div> -->
  <!-- <span>{{ title }}</span>

    <h3>{{ 'changeLanguage' | translate:lang }}</h3>

    <p>{{ 'title' | translate:lang }}</p> -->
  <!-- </div> -->

  <button mat-icon-button class="menuIcon" (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img *ngIf="headerName.title=='Fundoo Notes' || headerName.title== 'फंडू टिप्पणियाँ' " class="fundooNotes"
    src="../../assets/Icons/keep_48dp.png" (click)="sidenav.toggle()" matTooltip="Home">
  <span class="fundooNotesText">{{headerName.title}}</span>
  <button class="searchIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Search">
    <mat-icon>search</mat-icon>
  </button>

  <input class="searchBar" placeholder={{headerName.search}} autocomplete="off" />

  <!-- <button class="refreshIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </button> -->

  <button class="viewIcon" mat-icon-button matTooltip="{{view}}">
    <mat-icon (click)="toggleGridListIcon()">{{icon}}</mat-icon>
  </button>

  <!-- <button class="settingsIcon" mat-icon-button (click)="sidenav.toggle()" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button> -->

  <button mat-button (click)="selectLanguage('en');">ENG</button>
  <button mat-button (click)="selectLanguage('hi');">हिंदी</button>

  <button class="accountIcon" [matMenuTriggerFor]="accountMenu" [matMenuTriggerData]="{accountImage:accountImage}"
    matTooltip="Your Account">{{accountImage}}</button>
</mat-toolbar>

<mat-sidenav-container class="sidenavBar">
  <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
    <mat-nav-list class="sideNavList">
      <div>
        <button mat-button [routerLink]="['addNote']" (click)="headerName.title=headerName.header"
          [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
          <mat-icon>lightbulb_outline</mat-icon> {{headerName.notes}}
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['reminders']" (click)="headerName.title=headerName.reminders"
          [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
          <mat-icon>notifications_none</mat-icon> {{headerName.reminders}}
        </button>
      </div>
      <div>
        <span>Labels</span>
        <div *ngFor="let item of labelName">
          <!-- [routerLink]="['label']" -->
          <button class="sideNavListItems" mat-button (click)="navigateToLabel(item)">
            <mat-icon>label</mat-icon>{{item}}
            <!-- <app-label [childMessage]="item"></app-label> -->
          </button>
        </div>
      </div>
      <div>
        <button class="sideNavListItems" mat-button (click)="editLabel()">
          <mat-icon>edit</mat-icon> {{headerName.editLabels}}
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['archive']" (click)="headerName.title=headerName.archive"
          [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
          <mat-icon>archive</mat-icon> {{headerName.archive}}
        </button>
      </div>
      <div>
        <button mat-button [routerLink]="['trash']" (click)="headerName.title=headerName.trash"
          [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
          <mat-icon>delete</mat-icon> {{headerName.trash}}
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #accountMenu="matMenu" class="accountMenuMain">
  <ng-template matMenuContent let-accountImage="accountImage">
    <div class="accountMenuMain">
      <button type="file" class="accountMenuImage" matTooltip="Change Image">{{accountImage}}
        <!-- <span class="accountMenuImageChange">Change</span> -->
      </button>
      <!-- <img [src]="url"> -->
      <!-- <input type='file' (change)="onSelectFile($event)"> -->
      <div class="accountMenuItems">
        <div class="accountMenuName"> {{name}} </div>
        <div class="accountMenuEmail"> {{email}} </div>
        <button mat-button class="logoutIcon" (click)="logout()" matTooltip="Logout">
          <mat-icon>power_settings_new</mat-icon> Logout
        </button>
      </div>

    </div>
  </ng-template>
</mat-menu>