<div class="mainNotes" [ngStyle]="{'background-color':color}">
  <div *ngIf="!isOpen">
    <div class="noteTitle">
      <textarea matTextareaAutosize placeholder="Take a note..." (click)="isOpen=true"></textarea>
    </div>
  </div>
  <div *ngIf="isOpen">
    <div class="noteTitle">
      <textarea [ngStyle]="{'background-color':color}" matTextareaAutosize placeholder="Title" [(ngModel)]="notes.title"></textarea>
    </div>
    <div class="noteContent">
      <textarea [ngStyle]="{'background-color':color}" matTextareaAutosize required placeholder="Take a note..."
        [(ngModel)]="notes.note"></textarea>
    </div>
    <div class="addNotesIcons">
      <button class="reminderIcon" mat-icon-button matTooltip="Remind me">
        <mat-icon>notifications_active</mat-icon>
      </button>
      <button class="collaboratorIcon" mat-icon-button matTooltip="Collaborator">
        <mat-icon>person_add_outline</mat-icon>
      </button>
      <button class="changeColorIcon" mat-icon-button matTooltip="Change color" #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="colorMenu" [matMenuTriggerData]="{item:item}">
        <mat-icon>color_lens</mat-icon>
      </button>
      <button class="archiveIcon" mat-icon-button matTooltip="Archive">
        <mat-icon>archive</mat-icon>
      </button>
      <button class="closeButton" mat-button (click)="addNote()" (click)="isOpen=false">Close
      </button>
    </div>
  </div>
</div>

<mat-menu #colorMenu="matMenu" class="colorMenu">
  <!-- <div class="another"> -->
  <ng-template matMenuContent let-item="item">
    <div *ngFor="let color of colorCode">
      <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
        <mat-icon class="colorIcons">fiber_manual_record</mat-icon>
      </button>
    </div>
  </ng-template>
  <!-- </div> -->
</mat-menu>

<div class="notes">
  <app-notes #child></app-notes>
</div>