<!-- <form class="loginForm"> -->

  <!-- <mat-form-field class="inputForm">
    <input matInput placeholder="Email" [formControl]="loginControl" [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="loginControl.hasError('email') && !loginControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="loginControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field class="inputForm">
      <input matInput placeholder="Email" [formControl]="loginControl"
             [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="loginControl.min-length(6) && !loginControl.hasError('required')">
        Password length must be more than 6
      </mat-error>
      <mat-error *ngIf="loginControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->

<!-- </form> -->  

  <div class="list-viewer-wrapper">
    <div class="list-header-title">Login</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
      <div class="form-container">

        <mat-form-field>
            <input id="email"
                   matInput
                   formControlName="email"
                   [(ngModel)]="user.email"
                   placeholder="Enter your email"
                   autocomplete="off" />
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Enter your password"
                   autocomplete="off"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>

          <button mat-button type="submit" 
                  class="mat-raised-button mat-primary" 
                  [disabled]="!registerForm.valid">Login</button>
          <button mat-button routerLink="/register" class="divider">Register</button>
      </div>
    </form>
  </div>