<form>
    <div class="loginForm">
      <label for="username">Userame</label>
      <input type="text" id="username" name="username" placeholder="Username" class="loginControl">
    </div>
  
    <div class="loginForm">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" class="loginControl">
    </div>

    <div class="loginForm">
      <button class="btm btnPrimary" value="Register" class="loginControl"></button>
    </div>
  
    <div class="loginForm">
      Don't have an account? <a routerLink="/register">Register here.</a>
    </div>
  </form>