/deep/ .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

/deep/ .cdk-overlay-dark-backdrop {
    background: rgba(255, 255, 255, 0.8) !important;
}

.editNoteTitleInput,
.editNoteContentInput {
    outline: none;
    border: none;
    resize: none;
    overflow-y: overlay;
    max-height: 200px;
}

.editNoteTitleInput {
    font-weight: bold;
}

.pinIcon {
    vertical-align: center;
}

.saveButton {
    margin-left: auto;
}

.mainEditArea {
    // margin: auto;    
    padding: 10px;
}