<div class="notesDiv">
  <div class="notes" fxLayout="{{rowCol}}" fxLayoutGap="5px">
    <!-- <mat-card *ngFor="let item of data">
    <div>
      {{item.title}}
    </div>
    <div>
      {{item.note}}
    </div>
  </mat-card> -->
    <!-- <div *ngIf="pinValue==true" style="width: 700px">Pinned</div> -->
    <div class="pinnedOthers" *ngIf="counter>0" style="width: 700px">PINNED</div>
    <div class="ngForDiv" *ngFor="let item of data">
      <div *ngIf="!item.archive && !item.trash && item.pin">
        <app-cards [item]=item></app-cards>
      </div>
    </div>
    <!-- <div *ngIf="pinValue==true" style="width: 700px">Others</div> -->
    <div class="pinnedOthers" *ngIf="counter>0" style="width: 700px">OTHERS</div>
    <div class="ngForDiv" *ngFor="let item of data">
      <div *ngIf="!item.archive && !item.trash && !item.pin"></div>
      <app-cards [item]=item></app-cards>
    </div>
  </div>

  <!-- [matMenuTriggerFor]="reminderMenu"
   (clickOutside)="showReminderMenu = false"
  [matMenuTriggerData]="item"
  (mouseenter)="colorMenuTrigger.openMenu()"
  (mouseleave)="colorMenuTrigger.closeMenu()"
[matMenuTriggerContext]="item"-->


</div>