    <div class="list-viewer-wrapper">
      <div class="list-header-title">Forgot Password</div>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && onForgotPassword()" novalidate>
        <div class="form-container">

          <mat-form-field>
              <input id="email"
                     matInput
                     formControlName="email"
                     [(ngModel)]="user.email"
                     placeholder="Enter your email" 
                     autocomplete="off"/>
            </mat-form-field>
  
            <button mat-button type="submit"
                    class="mat-raised-button mat-primary" 
                    [disabled]="!forgotPasswordForm.valid">Send Verification e-mail</button>
            <button mat-button routerLink="/login" class="divider">Login</button>
        </div>
      </form>
    </div>